<div class="card-body">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Telegram Channel ID</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="items$ | async as items; else noData">
        <tr [routerLink]="['view-edit', item?.id]" *ngFor="let item of items">
          <td [innerHTML]="item?.id"></td>
          <td [innerHTML]="item?.telegramChannelId"></td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #noData>
    <tr>
      <td colspan="2">No data found</td>
    </tr>
  </ng-template>
</div>
