<div class="card-body">
  <p *ngIf="item$ | async as item">Editing id #{{ item?.id }}</p>
  <form
    class="needs-validation"
    novalidate
    [ngClass]="{ 'was-validated': validate }"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-row">
      <div class="col-4 mb-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            id="name"
            placeholder="Name"
            formControlName="name"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <label for="ticker">Ticker</label>
          <input
            class="form-control"
            id="ticker"
            placeholder="Ticker"
            formControlName="ticker"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input
            class="form-control"
            id="address"
            placeholder="Address"
            formControlName="address"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <label for="isActive">Is Active</label>
          <div class="checkbox-animated">
            <label class="d-block" for="chk-ani">
              <input
                formControlName="isActive"
                class="checkbox_animated"
                id="isActive"
                type="checkbox"
              />
              Send messages or not
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="channel">Channel</label>
          <ng-select
            [items]="channels$ | async"
            class="js-example-basic-single"
            placeholder="Channel"
            bindValue="id"
            bindLabel="telegramChannelId"
            formControlName="channelId"
          ></ng-select>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [innerHTML]="mode === 'create' ? 'Submit' : 'Save'"
    ></button>
    <button
      *ngIf="isEditMode()"
      class="btn btn-danger ml-2"
      type="button"
      [innerHTML]="'Delete'"
      (click)="onDelete()"
    ></button>
  </form>
</div>
