<app-breadcrumb
  [title]="'Dashboard'"
  [items]="['other']"
  [active_item]="'Sample'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Stats Overview</h5>
          <span>Overview of stats of database objects</span>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-body p-0 text-center">
              <div class="row m-0 chart-main">
                <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                  <div class="media align-items-center">
                    <!-- <div class="hospital-small-chart">
                      <div class="small-bar">
                        <div class="small-chart">
                          <x-chartist
                            [type]="smallBarCharts.type"
                            [data]="smallBarCharts.data"
                            [options]="smallBarCharts.options"
                            [events]="smallBarCharts.events"
                          >
                          </x-chartist>
                        </div>
                      </div>
                    </div> -->
                    <div class="media-body">
                      <div class="right-chart-content p-1">
                        <h4>1001</h4>
                        <span>purchase </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                  <div class="media align-items-center">
                    <div class="hospital-small-chart">
                      <div class="small-bar">
                        <div class="small-chart1">
                          <!-- <x-chartist
                            [type]="smallBarCharts.type"
                            [data]="smallBarCharts.data"
                            [options]="smallBarCharts.options"
                            [events]="smallBarCharts.events"
                          >
                          </x-chartist> -->
                        </div>
                      </div>
                    </div>
                    <div class="media-body">
                      <div class="right-chart-content">
                        <h4>1005</h4>
                        <span>Sales</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                  <div class="media align-items-center">
                    <div class="hospital-small-chart">
                      <div class="small-bar">
                        <div class="small-chart2">
                          <!-- <x-chartist
                            [type]="smallBarCharts.type"
                            [data]="smallBarCharts.data"
                            [options]="smallBarCharts.options"
                            [events]="smallBarCharts.events"
                          >
                          </x-chartist> -->
                        </div>
                      </div>
                    </div>
                    <div class="media-body">
                      <div class="right-chart-content">
                        <h4>100</h4>
                        <span>Sales return</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                  <div class="media border-none align-items-center">
                    <div class="hospital-small-chart">
                      <div class="small-bar">
                        <div class="small-chart3">
                          <!-- <x-chartist
                            [type]="smallBarCharts.type"
                            [data]="smallBarCharts.data"
                            [options]="smallBarCharts.options"
                            [events]="smallBarCharts.events"
                          >
                          </x-chartist> -->
                        </div>
                      </div>
                    </div>
                    <div class="media-body">
                      <div class="right-chart-content">
                        <h4>101</h4>
                        <span>Purchase ret</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <table class="table table-responsive table-bordered">
            <thead>
              <tr>
                <th>test</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>asda</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</div>
