<div class="card-body">
  <p *ngIf="item$ | async as item">Editing id #{{ item?.id }}</p>
  <form
    class="needs-validation"
    novalidate
    [ngClass]="{ 'was-validated': validate }"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-row">
      <div class="col-4 mb-3">
        <label for="telegramChannelId">Telegram Channel ID</label>
        <input
          class="form-control"
          id="telegramChannelId"
          placeholder="Telegram Channel ID"
          formControlName="telegramChannelId"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [innerHTML]="mode === 'create' ? 'Submit' : 'Save'"
    ></button>
    <button
      *ngIf="isEditMode()"
      class="btn btn-danger ml-2"
      type="button"
      [innerHTML]="'Delete'"
      (click)="onDelete()"
    ></button>
  </form>
</div>
