<app-breadcrumb
  [title]="'Channel'"
  [items]="['other']"
  [active_item]="'Sample'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header p-4">
          <div class="row">
            <div class="col-9">
              <h5>Channels</h5>
              <span>Lorem ipsum</span>
            </div>
            <div class="col-3 text-right">
              <button [routerLink]="['create']" class="btn btn-success btn-sm">
                Create new
              </button>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
